<div class="display-4">
About CoffeeTracker
</div>

<div class="container-fluid m-3">
  <p>CoffeeTracker was born for two primary reasons:</p>

  <ul>
    <li>First, I was in Application Development at Chicago Booth and I needed to create a final project.</li>
    <li>Second, I am extremely passionate about coffee, and needed a good solution to track my brews.</li>
  </ul>

  <p>
    I had tried many different apps and websites, and none of them seemed to fit the bill perfectly. Every choice was either missing options, or only on iOS, or lacked the ability to access the backend data. Because of this, I figured this was a great opportunity to hit two birds with one stone.
  </p>
  
  <p>
    As with everything in life (including my coffee) this site is not perfect. Please let me know if you have any great ideas or want to chat about coffee, webdev, or anything else!
  </p>

  <p>
    Jonathon Zuniga <br>
    <a href="mailto:zuniga@chicagobooth.edu">zuniga@chicagobooth.edu</a>
  </p>

<div>
Could test a youtube video here?

</div>


</div>